body {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #B1D0E0;
  color: #40514E;
}

h1 {
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  color: #66BFBF;
}

p {
  line-height: 2;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: 1;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #11999E;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.pro {
  text-decoration: underline;
  margin: 0 auto;
}

.top-container {
  background-color: #b1d0f0;
}

.middle-container {
  margin: 100px 0;
}

.middle-mountain {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bottom-cloud {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer-link {
  color: #11999E;
}

.btn {
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skillsman {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.yugiohcard {
  width: 8%;
  float: right;
  margin-left: 30px;
}

.battlecity {
  margin-left: 220px;
}

.Mr-kaiba {
  width: 400px;
  margin: auto;
  text-align: left;
}

.love-dueling {
  width: 400px;
  margin: auto;
  margin-bottom: 100px;
}

.contact-button {
  background: #364de3;
  background-image: -webkit-linear-gradient(top, #364de3, #aececf);
  background-image: -moz-linear-gradient(top, #364de3, #aececf);
  background-image: -ms-linear-gradient(top, #364de3, #aececf);
  background-image: -o-linear-gradient(top, #364de3, #aececf);
  background-image: linear-gradient(to bottom, #364de3, #aececf);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #11cdd4;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 200px;
  line-height: 175px;
}

.contact-button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.bottom-container {
  background-color: #96CEB4;
  padding: 50px 0 20px;
}

a {
  color: #11999E;
  font-family: 'Sacramento', cursive;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
